@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  transition: all 0.5s ease;
  background-color: var(--color-bg);
  color: var(--color-text);
}

@theme {
  /* Light mode (default) */
  --color-bg: #f9fafb;
  --color-card: #ffffff;
  --color-text: #111827;
  --color-text-secondary: #6b7280;
  --color-accent: #3b82f6;
  --color-success: #10b981;
  --color-danger: #ef4444;
}

html.dark {
  /* Dark mode */
  --color-bg: #111827;
  --color-card: #1f2937;
  --color-text: #f9fafb;
  --color-text-secondary: #9ca3af;
  --color-accent: #3b82f6;
  --color-success: #10b981;
  --color-danger: #ef4444;
}
